!!!
%html{:lang => "vi-VN"}
  %head
    %title Mozilla and the new web challenge
    %meta{:charset => "UTF-8"}
      %meta{:content => "width=1274, user-scalable=no", :name => "viewport"}
        %link{:href => "themes/mozilla/styles/style.css", :rel => "stylesheet"}
  %body.list
    %header.caption
      %h1 Mozilla and the new web challenge
      %p.footer
        Nguyễn Hà Dương, (known as Duong "Yang" H. Nguyen,
        %a{:href => "https://twitter.com/cmpitg"} @cmpitg,      
        = succeed ")" do
          %a{:href => "mailto:cmpitg@gmail.com"} cmpitg [at] gmail [dot] com
    /
      Simply copy the whole block for each slide you want.
      Special slides get extra classes. Each slide needs an ID
      to allow for bookmarking and target jumping.
      
      Images, videos and SVG objects are automatically centred
      when you add a class of "middle"
      
      If you add a "cover" class images are taking over the whole
      screen resized to height. Add a "w" class to resize to width.
    #cover.slide
      %div
        %section
          %header
            %h2 Mozilla and the new web challenge
          %img.middle{:alt => "Icons of B2G, Firefox OS and Mozilla Apps", :src => "pictures/introicons.png"}
            %footer.byline
              by Duong "Yang" H. Nguyen
              %br Software Freedom Day 2012 @ HUS @ Hanoi - 2012/09/15
    #somelinks.slide
      %div
        %section
          %header
            %h2 Some links
          %ul
            %li
              This presentation:
              %br
                %a{:href => 'https://github.com/CMPITG/sfd-hanoi-2012-mozilla-intro'} https://github.com/CMPITG/sfd-hanoi-2012-mozilla-intro
                or
                %a{:href => 'http://goo.gl/KsDJj'} http://goo.gl/KsDJj
            %li
              Joining and having fun with Mozilla:
              %a{:href => 'http://goo.gl/s0tSA'} http://goo.gl/s0tSA
            %li
              Contributing to this talk -
              %strong real-time!
              %a{:href => 'http://etherpad.mozilla.org/remo-software-freedom-day-hanoi-2012'} http://goo.gl/e2Dm7
            %li
              Many thanks to
              %a{:href => 'http://pepelsbey.net/'} Вадим Макеев
              for this awesome presentation!
    #intro.slide
      %div
        %section
          %header
            %h2 Who am I?
          /
            <img src="pictures/welcome.jpg" class="right" alt="Welcome mat">
            ^ add your photo if wanted - 400px wide works best
          %ul
            %li Nguyễn Hà Dương (aka Duong "Yang" H. Nguyen or simply cmpitg)
            %li
              Certified Mozillian:
              %a{:href => 'https://mozillians.org/en-US/cmpitg'} cmpitg
            %li
              Twitter:
              %a{:href => "https://twitter.com/cmpitg"} @cmpitg
            %li
              %a{:href => 'https://fedoraproject.org/wiki/User:Cmpitg'} Fedora Ambassador
            %li
              Member of
              %a{:href => 'http://khonggiancongdong.org'} Community Space,
              %a{:href => 'http://wiki.hanoilug.org/'} HanoiLUG,
              %a{:href => 'http://www.ubuntu-vn.org/'} Ubuntu-VN,
              %a{:href => 'http://hanoicodingdojo.github.com/'} Hanoi Coding Dojo.
          %footer.notes
            Introduce yourself, who you are and why you are the person to give that talk
    #agenda.slide
      %div
        %section
          %header
            %h2 Introduction
          %img.right{:alt => "Welcome mat", :src => "pictures/welcome.jpg"}
            %ul
              %li What has Mozilla done?
              %li What do we do now?
              %li A new challenge
              %li Firefox for developers
              %li Firefox OS / Apps for the web
            %small.credits
              %a{:href => "http://www.flickr.com/photos/mjparnell/435465575/"} Photo by the McClouds
            %footer.notes
              Setting the stage - explain what you are going to cover. This was mainly added for
              audiences who don't speak English as their first language.
    #whatmozilladid.slide
      %div
        %section
          %header
            %h2 What Mozilla did…
          %img.middle{:alt => "About Internet Explorer 6 info", :src => "pictures/ie6.png"}
            %footer.notes
              Explain that without Mozilla, Internet Explorer would be the dominant browser,
              that we are a not-for-profit organisation to keep the web open and that without
              us the web would be a corporate-only environment.
    #whatmozilladid2.slide
      %div
        %section
          %header
            %h2 What Mozilla did…
          %img.middle{:alt => "Browser Logos", :src => "pictures/browserlympics.png"}
            %footer.notes
              Firefox (and Opera) also paved the way for other browsers both to be released
              open source and support web standards. Even IE now does a lot to support and
              also promote web standards.
    #morethanfirefox.slide
      %div
        %section
          %header
            %h2 Ongoing work…
          %img.middle{:alt => "Mozilla is more than Firefox", :src => "pictures/mozillamore.png"}
            %footer.notes
              Mozilla is much more than Firefox though. We are a not-for-profit organisation to
              promote the open web. This means we educate people on how to publish content and
              we protect people's privacy and identity and choice on the web.
    #webmaker.slide
      %div
        %section
          %header
            %h2 A generation of webmakers
          %img.middle{:alt => "Mozilla Webmaker", :src => "pictures/webmaker.jpg"}
            %p.demourl
              %a{:href => "https://webmaker.org"} https://webmaker.org
            %footer.notes
              Mozilla Webmaker is an ongoing project to turn pure consumers of the web
              into makers. We teach basic web editing skills, how to publish and mix
              video with online content and basic ways to keep safe and have a good
              time on the web.
    #thimble.slide
      %div
        %section
          %header
            %h2 Learning by doing!
          %img.middle{:alt => "Mozilla Thimble", :src => "pictures/thimble.jpg"}
            %p.demourl
              %a{:href => "https://thimble.webmaker.org/en-US/projects/map/edit"} https://thimble.webmaker.org/en-US/projects/map/edit
            %footer.notes
              Mozilla Thimble is a very simple and interactive way to learn basic HTML. An editor on the
              right hand side of the screen lets you write things and the results are shown immediately on
              the left. You can also choose from already existing projects and write in them. The editor
              shows you when you make an error and links it to the documentation on the developer network.
              You can choose from various challenges to become better and better in editing HTML.
    #popcorn.slide
      %div
        %section
          %header
            %h2 Lights, Camera, interaction!
          %img.middle{:alt => "Mozilla popcorn", :src => "pictures/popcorn.jpg"}
            %p.demourl
              %a{:href => "https://mozillapopcorn.org"} http://mozillapopcorn.org
            %footer.notes
              Mozilla Popcorn is a simple way to create interactive web experiences from video and
              audio materials. You have an editor to overlay web content over videos and interact
              with parts of the page.
    #persona.slide
      %div
        %section
          %header
            %h2 Persona - own your identity!
          %img.middle{:alt => "Mozilla Thimble", :height => "350", :src => "pictures/persona.jpg"}
            %p.demourl
              %a{:href => "http://www.mozilla.org/en-US/persona/"} http://www.mozilla.org/en-US/persona/
            %footer.notes
              Mozilla Persona is a simple way to log into web apps and sites. Instead of having
              to create a username and password for each product you log in to Persona allows you
              to identify yourself with one of your verified e-mails. That way you don't have to
              have thousands of profiles online and you only give sites the information you want
              instead of all your data.
    #a-new-challenge.slide.cover.w
      %div
        %section
          %header
            %h2 A new challenge
          %img.middle{:alt => "Responsive Design", :src => "pictures/responsive.jpg"}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/indyplanets/5693612984/"} Photo by Jason Weaver
            %footer.notes
              One very obvious change in the last years was that the web became much more mobile.
              Instead of desktop machines we use laptops, smart phones and tablets and all of
              these devices get more powerful by the month. They all come with different resolutions
              and connectivity issues, though and Mozilla is happy to take on the challenge of
              moving the open web from immobile machines to on-the-go computing.
    #brokenpromise.slide
      %div
        %section
          %header
            %h2 Broken promises
          %img.middle{:alt => "Smartphone equals HTML5", :src => "pictures/html5promise.png"}
            %footer.notes
              When a certain company very loudly proclaimed that the desktop is dead
              and smartphones are the future and that HTML5 is the new standard to
              power smartphones we were very happy and interested indeed. Finally
              web standards got a platform that is on the bleeding edge and very
              beautiful and we all were ready to chip in to make this an open
              experience that empowers everyone to build for these new devices.
    #business-realities.slide.cover.w
      %div
        %section
          %header
            %h2 Business realities
          %img.middle{:alt => "Apps", :src => "pictures/apps.jpg"}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/msvg/5385759365/"} Photo by Michael Gil
            %footer.notes
              However, when native apps took off a lot of companies realised that there
              is money to be made by not keeping things open. Apps can do more than
              HTML5 can because the OS and hardware providers grant them more access and
              control the experience. If you control the software and the hardware, you
              can build great, but very bespoke products. If you allow for open technologies
              to be used, you lose control and you make less money as a hardware provider.
              As a developer, you shouldn't have to go that route.
    #firefoxandroid.slide
      %div
        %section
          %header
            %h2 Firefox to the rescue?
          %img.middle{:alt => "Firefox for Android", :src => "pictures/firefoxandroid.jpg"}
            %footer.notes
              Firefox is now available on Android and does quite a few things
              more than the Android stock browser (not Chrome) does. You can
              get it on the Android market and we welcome any feedback you
              can give us to make it the best experience possible.
    #firefox-for-developers.slide.cover.w
      %div
        %section
          %header
            %h2 Firefox for developers
          %img.middle{:alt => "Developers at a hack day", :src => "pictures/hackday.jpg"}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/osde-info/563699963/"} Photo by Clive Darra
            %footer.notes
              Firefox lately has gotten a lot of new features for developers far beyond
              what the Firebug extension gave you. Some of them are very handy to have
              when building for mobile devices.
    #responsiveview.slide
      %div
        %section
          %header
            %h2 Responsive view
          %img.middle{:alt => "Responsive view in Firefox", :src => "pictures/responsivemenu.png"}
            %p.demourl
              %a{:href => "http://paulrouget.com/e/devtoolsupdate/"} Demo
              |
              %a{:href => "http://www.youtube.com/watch?v=t07cLJhJkjQ"} Screencast
            %footer.notes
              A new feature in Firefox is the responsive view which makes it easy to
              simulate different mobile device resolutions. This makes it much easier
              to test your designs.
    #responsivedemo.slide
      %div
        %section
          %header
            %h2 Responsive view
          %img.middle{:alt => "Two views of the same page", :src => "pictures/responsive-demo.png"}
            %footer.notes
              The responsive view in Firefox makes it easy to test what your app looks like
              in different resolutions and when you switch from landscape to portrait mode.
              Instead of resizing the window you resize the document in the browser. It comes
              with lots of presets of the sizes of common phones and tablets and you still
              have access to all the buttons and tabs of your browser.
    #remotedebugging.slide
      %div
        %section
          %header
            %h2 Remote debugging
          %img.middle{:alt => "Remote debugging", :src => "pictures/remotedebug.jpg"}
            %p.demourl
              %a{:href => "https://hacks.mozilla.org/2012/08/remote-debugging-on-firefox-for-android/"} https://hacks.mozilla.org/2012/08/remote-debugging-on-firefox-for-android/
            %footer.notes
              The latest Firefox now allows for remote debugging, which means you
              can develop on your desktop and see the results on your phone instead
              of having to send code, restart the phone or reload the page and all
              that pain. With remote debugging you can see what is going on in the
              code of your HTML5 app on your desktop while testing it in the real
              environment.
    #hardware-lockout.slide.cover.w
      %div
        %section
          %header
            %h2 Hardware lockout
          %img.middle{:alt => "Very obvious road block", :src => "pictures/lockout.jpg"}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/old_sarge/100926333/"} Photo by Doug Geisler
            %footer.notes
              The most frustrating part about this is that phone and operating
              system providers lock out browsers and JavaScript. The fun parts
              to use in a smartphone are the camera, the sensors and to use it
              to send messages to your friends and call people. To do this,
              however you'll need to write native code. Browsers, in general
              are locked out. This is not fair when you claim at the same
              time that HTML5 is the platform to bring a great future.
    #webapis.slide
      %div
        %section
          %header
            %h2 Web API work
          %img.middle{:alt => "All the hardware in a mobile with info to the corresponding Web API spec and implementation status", :src => "pictures/hardware-blowup.png"}
            %p.demourl
              %a{:href => "http://arewemobileyet.com"} http://arewemobileyet.com
            %footer.notes
              At arewemobileyet.com we have a live view of how far down the line
              we are in defining and implementing open APIs that will give web
              developers access to this hardware. These are standards that can
              be used by other browser vendors and are implemented in Firefox.
              As you can see we are very far down the line, the only thing
              missing still is USB and NFC connectivity, other than that all
              that is in your phone can be accessed by JavaScript.
    #openwebdevice.slide
      %div
        %section
          %header
            %h2 Open Web Device
          %img.middle{:alt => "Openwebdevice web site", :src => "pictures/openwebdevice.jpg"}
            %p.demourl
              %a{:href => "http://openwebdevice.com"} http://openwebdevice.com
            %footer.notes
              The open web device is an initiative by Telefonica to bring the
              web to people who can not afford a high-market smartphone and
              still should get the chance to be online on the go. These
              devices will go on sale in Brazil as the first market in
              early 2013.
    #firefoxos.slide.cover.w
      %div
        %section
          %header
            %h2 Powered by Firefox OS
          %img.middle{:alt => "Firefox OS running on a phone", :src => "pictures/otoro.jpg"}
            %footer.notes
              The open web device is powered by Firefox OS a new operating
              system for mobiles developed by Mozilla.
    #firefox-os-components-detail.slide.cover.w
      %div
        %section
          %img.middle{:alt => "Gonk, Gecko and Gaia", :src => "pictures/componentsflame.jpg"}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/alesadam/3869366195/"} Photo by Alesa Dam
            %footer.notes
              Firefox OS is build with three components:
              Gonk is the Linux layer talking to the hardware (the same Android uses)
              Gecko is the rendering and JavaScript engine (same as Firefox) and
              Gaia is the interface - everything you see - written in HTML5
    #gaia-concepts.slide.cover.w
      %div
        %section
          %header
            %h2 Interface flexibility
          %img.middle{:alt => "Gaia concepts", :src => "pictures/uxconcept.jpg"}
            %footer.notes
              The whole interface of Firefox OS is written in web technologies. This
              means phone or phone service providers can complete change the look,
              feel and functionality of the phone interface itself. This is something
              completely new and can lead to a lot of great phone innovation for
              special needs. Consider a kid's phone with three simple buttons or
              company phones that only have the apps you need for your job and nothing
              else.
    #how-to-play-with-firefox-os.slide
      %div
        %section
          %header
            %h2 How to play with Firefox OS…
          %ul
            %li Run GAIA in Firefox Nightly (simplest way)
            %li Use a desktop simulator (OSX / Linux)
            %li Build your own device (very hard indeed)
          %p.demourl
            %a{:href => "https://wiki.mozilla.org/Gaia/Hacking"} https://wiki.mozilla.org/Gaia/Hacking
          %footer.notes
            You can run Firefox OS on your own computer inside Firefox Nightly
            or with Desktop simulators.
            The easiest is to run it in the browser and build your apps for it
            with the environment you are familiar with.
            You can put it on your own phones but the process is not easy (yet)
            The idea of Firefox OS is to bring new, affordable web-enabled phones
            to people and not to replace Android/iOS.
    #more-info.slide
      %div
        %section
          %header
            %h2 Where to find more info…
          %ul.longlist
            %li
              %strong Follow
              %a{:href => "http://twitter.com/Boot2Gecko"} @Boot2Gecko
              and
              %a{:href => "http://twitter.com/mozhacks"} @mozhacks
              on Twitter
            %li
              %strong> Join platform mailing list
              \:
              %a{:href => "http://groups.google.com/group/mozilla.dev.platform"} http://groups.google.com/group/mozilla.dev.platform
            %li
              %strong> Join in on IRC
              \: irc.mozilla.org channel #B2G
            %li
              %strong> B2G Repo
              \:
              %a{:href => "https://github.com/mozilla-b2g/B2G"} https://github.com/mozilla-b2g/B2G
            %li
              %strong> B2G Architecture
              \:
              %a{:href => "https://wiki.mozilla.org/B2G/Architecture"} https://wiki.mozilla.org/B2G/Architecture
            %li
              %strong> Gaia Repo
              \:
              %a{:href => "https://github.com/mozilla-b2g/gaia"} https://github.com/mozilla-b2g/gaia
            %li
              %strong> Developer Docs
              \:
              %a{:href => "https://developer.mozilla.org/en/Mozilla/Boot_to_Gecko"} https://developer.mozilla.org/en/Mozilla/Boot_to_Gecko
            %li
              %strong> Web API Docs
              \:
              %a{:href => "https://wiki.mozilla.org/WebAPI"} https://wiki.mozilla.org/WebAPI
          %footer.notes
            There are many ways to keep up to date with Firefox OS/Boot2Gecko.
            Here are the most important ones.
    #marketplace.slide
      %div
        %section
          %header
            %h2 Web APPS on the phone
          %img.middle{:alt => "Mozilla Marketplace", :src => "pictures/marketplace.jpg"}
            %p.demourl
              %a{:href => "https://marketplace.mozilla.org/"} https://marketplace.mozilla.org/
            %footer.notes
              Of course a phone without apps is not going to be very interesting to audiences
              out there. This is why Mozilla has its own app store that contains apps that can
              run on a Firefox OS phone but also in the browser.
              These apps are built with HTML5, CSS and JavaScript and all you need to give us
              to be part of it is a manifest file.
    #what-can-you-do.slide
      %div
        %section
          %header
            %h2 What can you do?
          %ul
            %li
              %strong Code
              \- Write apps, contribute to Gaia, contribute to B2G
            %li
              %strong Use
              \- Use Marketplace, Use the Web API, Use B2G
            %li
              %strong Feedback
              \- Give your input on APIs, request features, test and log bugs
          %footer.notes
            Firefox OS needs developers to help it out. You can contribute in many ways.
            The easiest is to play with it and give us feedback as to what you'd want out
            of it. Of course we love people to code with us, too, and we very much need
            people to build apps on B2G.
    #thanks.slide
      %div
        %section
          %header
            %h2 Thank you!
          %img.right{:alt => "Red panda (Firefox)", :src => "pictures/redpanda.jpg"}
          %ul
            %li
              Joining and having fun with Mozilla:
              %a{:href => 'http://goo.gl/s0tSA'} http://goo.gl/s0tSA
            %li
              Contributing to this talk -
              %strong real-time!
              %a{:href => 'http://etherpad.mozilla.org/remo-software-freedom-day-hanoi-2012'} http://goo.gl/e2Dm7
            %li
              %strong> Slides
              \: {https://github.com/CMPITG/sfd-hanoi-2012-mozilla-intro}
            %small.credits
              %a{:href => "http://www.flickr.com/photos/yortw/5798336827/"} Photo by Yortw
            %footer.notes
              Say thanks, add a URL where to get the slides, and where people in the audience
              can contact you.
    /
      To hide progress bar from entire presentation
      just remove “progress” element.
    .progress
      %div
    %script{:src => "scripts/script.js"}
    / Copyright © 2010–2012 Vadim Makeev — pepelsbey.net
